@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

$family-primary: 'Open Sans', sans-serif;
$bblBlue: #341499;
$primary: $bblBlue;

.header {
  margin-left: 40px;
  margin-top: 10px;
}

.checkbox {
  margin-right: 8px;
}

@import "~bulma"
