@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

$family-primary: 'Open Sans', sans-serif;
$bblBlue: #341499;
$primary: $bblBlue;

.header {
  margin-left: 55px;
  margin-top: 10px;
}

.navbar-item {
  margin-left: 10px;
}

.checkbox {
  margin-right: 8px;
}


// .progress.active {
//   background-image: <i className="fas fa-spinner"></i>;
// }

@import "~bulma"
