@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

$family-primary: 'Open Sans', sans-serif;
$bblBlue: #341499;
$phLogoBlue: #00B4FC;
$phLogoRiver: #1E099C;
$bblLogoBlu: #4169e1;
$primary: $bblBlue;
$section-padding: 1.5rem 1.5rem;
// $tabs-link-hover-color: $phLogoBlue;
$tabs-boxed-link-hover-background-color: $phLogoBlue;
$tabs-toggle-link-hover-background-color: $phLogoBlue;
$tabs-toggle-link-active-background-color: $phLogoBlue;

.startTab.active, .finishTab.active {
  text-align: center;
  padding: 10px 30px;
  background-color: $phLogoBlue;
  border: 1px solid #dbdbdb;
}

body {
  margin: 0 auto;
}

table {
  margin: 0 auto;
}

.container {
  text-align: center;
  align-content: center;
}

.tabContainer {
  margin: 0 auto;
  width: 400px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px;
}

.search {
  width: 400px;
  margin: 0 auto;
}

.header {
  margin-left: 55px;
  margin-top: 10px;
  display: inline-flex;
  align-items: baseline;
}

.navbar-item {
  margin-left: 10px;
}

.checkbox {
  margin-right: 8px;
}

.button {
  width: 200px;
}

.button:disabled {
  opacity: 0.5;
}

.spinner {
  margin: 0 5px;
}

@import "~bulma"
